<app-header></app-header>
<div class="container  py-4">
    <div class="row">
        <div class="col-6">
            <a href="javascript:void(0)" (click)="back()" class="btn p-1  mx-1">
                <img src="./assets/imgs/icons8-back-67.png" width="90">
            </a>

        </div>
        <div class="col-6 text-end">
            <a href="javascript:void(0)" (click)="help()" class="btn bg-warning p-1 border rounded mx-1">
                <img src="./assets/imgs/icons8-bell-64.png" width="90">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center py-5">
                <div >
                    <img src="./assets/gif/Blocks-1s-200px.gif">  
                </div>
               
            </div>
            <div class="my-5 text-center">
                <h1 [innerHTML]="note"></h1>
            </div>
        </div>
          
    </div>
</div>