<app-header></app-header>
<div class="container  py-4">
    <div class="row">
        <div class="col-6">
            <a href="javascript:void(0)" (click)="back()" class="btn p-1  mx-1">
                <img src="./assets/imgs/icons8-back-67.png" width="90">
            </a>

        </div>
        <div class="col-6 text-end">
            <a href="javascript:void(0)" (click)="help()" class="btn bg-warning p-1 border rounded mx-1">
                <img src="./assets/imgs/icons8-bell-64.png" width="90">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center py-5">
                <container-element [ngSwitch]="paymentType">
                    <div *ngSwitchCase="'31'">   <img src="./assets/gif/Blocks-1s-200px.gif">  </div>
                    <div *ngSwitchCase="'32'"><img src="./assets/imgs/qrscan.jpg" width="90%"></div>
                
                    
                    <div *ngSwitchDefault> </div>
                </container-element>
                
            </div>
            <div class="my-5 text-center">
                <h1> {{note}}</h1>
            </div>
        </div>
        <div class="col-12">
            <div class="d-grid m-4">
                <button type="button" (click)="fnBcaECR('31');" class="btn btn-lg font-btn btn-info py-3">Generate QRIS BCA</button>
            </div>


            <div class="d-grid m-4">
                <button type="button" (click)="fnBcaECRType32();" class="btn btn-lg font-btn btn-info py-3">Check manual Status Payment</button>
            </div>

            <div class="d-grid  m-4">
                <button type="button" (click)="comClear();" class="btn btn-lg font-btn btn-warning py-3">ERC CLEAR</button>
            </div>

            <div class="d-grid  m-4">
                <button type="button" (click)="comClose();" class="btn btn-lg font-btn btn-danger py-3">comClose</button>
            </div>
        </div>
 
    </div>
</div>