<div class="container">


    <div class="row">
        <div class="col-12 text-center">
            <h4>
                Photo Required
            </h4>
        </div>
        <div class="col-12 text-center">

            <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" [imageQuality]="1"
                (cameraSwitched)="cameraWasSwitched($event)" (initError)="handleInitError($event)"></webcam>
            <br />
            <button class="btn btn-sm btn-secondary mx-1" (click)="triggerSnapshot();">Take A Snapshot</button>
            <button class="btn btn-sm btn-secondary mx-1" (click)="toggleWebcam();">Toggle Webcam</button>

            <!-- <br/>
      <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
      <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
      <br/> -->
        </div>
    </div>
    <div>
        <div>DeviceId:</div>
        <input id="deviceId" type="text" readonly [(ngModel)]="deviceId" class="form-control form-control-sm">
    </div>

    <div>
        <a [routerLink]="[ '/cart']" [queryParams]="{kioskUuid: uuid}">Skip</a>
    </div>

</div>

<div class="snapshot" *ngIf="webcamImage">
   <div> <strong> SENT TO SERVER </strong> </div>
    <img [src]="webcamImage.imageAsDataUrl" />
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
    <li>{{error | json}}</li>
</ul>