<div class="container mt-5">
    <div class="row">
        <div class="col ">
            <div class="card p-5">
                <div class="text-center">{{loading ? "Loading":""}}</div>
                <div [hidden]="loading">
                    <div class="border p-2 bg-light mb-2">
                        <code>
                            {{terminal | json}}
                        </code>
                    </div>

                   <div>
                    <button type="button"  class="btn btn-primary" (click)="start();">Login Terminal</button>
                   </div>
                </div>
            </div>

        </div>
    </div>
</div>