<div class="container mt-5">
    <div class="row">
        <div class="col-12 ">
            <div class=" p-5">
                <div class="text-center">{{loading ? "Loading":""}}</div>
                <div [hidden]="loading">
                    <div class="border p-2 rounded bg-white shadow-sm mb-2">
                        <table class="table table-borderless">
                            <tr>
                                <td width="50%">ID</td>
                                <td>: {{terminal.id}}</td>
                            </tr>
                            <tr>
                                <td>name</td>
                                <td>: {{terminal.name}}</td>
                            </tr>
                            <tr>
                                <td>Store Outlet ID</td>
                                <td>: {{terminal.storeOutlesId}}</td>
                            </tr> 
                            <tr>
                                <td>status</td>
                                <td>: {{terminal.status}}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>: {{terminal.inputDate * 1000 | date}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="text-center text-danger">
                        {{note}}
                    </div>

                   <div class="d-grid mt-3 text-center" > 
                     <button type="button"  class="btn btn-dark btn-lg" [disabled]="error" (click)="start();">Login Terminal</button>
                     <div class="mt-4">
                        <a href="javascript:;" (click)="httpGet();">Reload</a>
                     </div>
                   </div>
                </div>
            </div>

        </div>
    </div>
</div>