<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="text-center mt-5">
                <img [src]="kioskMessage.configurationimages" class="intro-images">
                <!-- <img src="./assets/galleries/g01.png" > -->
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-12 text-center my-4">
            <h1 [innerHTML]="kioskMessage.welcome_screen"></h1>
        </div> 
        <div class="col-12 text-center" [hidden]="!isStillLogin">
            <a [routerLink]="[ '/cart' ]" [queryParams]="{kioskUuid: myUUID}" class="btn btn-lg bg-light border rounded font-btn">BACK TO CART</a>
        </div>
    </div>

    <div class="row" [hidden]="isStillLogin">
        <div class="col-6 d-grid">
            <button type="button" class=" btn  btn-lg btn-info text-white rounded py-3 font-btn" (click)="loginVisitor(modalWelcome);">VISITOR</button>
        </div>
        <div class="col-6 d-grid">
            <button type="button" class=" btn  btn-lg btn-success text-white rounded py-3 font-btn"(click)="loginMember(modalWelcome)">MEMBER</button>
        </div>
    </div> 
</div>


<ng-template #modalWelcome let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>Selamat datang tamu yang kami hormati di tempat kami.</p>
        <p>Semoga anda menikmati lanyanan self Checkout kami.</p>
        <a [routerLink]="[ '/cart' ]">NEXT</a>
    </div>
</ng-template>