<div class="container">

    <div class="card mt-2 bg-corner">
        <div class="text-center my-1">
            <img [src]="kioskMessage.configurationimages" width="100%">
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 text-center">
                    {{kioskMessage.welcome_screen}}
                </div>
                <div class="col-12" [hidden]="!action.isStart">
                    <div class="p-5">
                        <ngx-scanner-qrcode #action="scanner" (data)="output = $event"></ngx-scanner-qrcode>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <code>
                        {{action.isLoading}}
                        Memberid : {{memberId}}
                        <div><span>{{output}}</span></div>
                   </code>
                    {{notes}}
                </div>


                <div class="row" [hidden]="isStillLogin">
                    <div class="col-5 offset-1">
                        <!-- <button type="button" class="btn-primary btn  btn-block" (click)="action.toggleCamera()" [disabled]="action.isLoading">Member {{action.isStart ? 'Cancel' : 'Start'}}</button>
                 -->
                        <button type="button" [hidden]="action.isStart" class="btn-primary btn  btn-block" (click)="runQrcode();">run Qrcode</button>
                        <button type="button" [hidden]="!action.isStart" class="btn-primary btn  btn-block" (click)="stopQrcode();">stop Qrcode</button>
                    </div>
                    <div class="col-5">
                        <button type="button" class="btn-primary btn  btn-block" (click)="loginVisitor(modalWelcome);">Visitor</button>
                    </div>
                </div>


                <div class="col-12 text-center" [hidden]="!isStillLogin">
                    <a [routerLink]="[ '/cart' ]" [queryParams]="{kioskUuid: myUUID}" class="btn btn-lg btn-warning">Terminal ini masih ada keranjang belanja.</a>

                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalWelcome let-modal>
    <div class="modal-header"> 
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Selamat datang tamu yang kami hormati di tempat kami.</p>
      <p>Semoga anda menikmati lanyanan self Checkout kami.</p>
    </div> 
</ng-template>
