
.bgn{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -999;
    
    background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,240,240,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,240,240,1) 100%);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(229,240,240,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e5f0f0",GradientType=1);
}

.pos-content{
    font-size: 40px;
}