<div class="page-wrapper landrick-theme">

    <main class="page-content bg-light">
        <div class="top-header">
            <div class="header-bar d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <a href="#" class="logo-icon me-3">
                        <img src="./assets/imgs/chandra.jpg" height="40">
                    </a>
                    <a href="javascript:void(0)">
                        Hi, {{member.id}}
                    </a>

                </div>

                <ul class="list-unstyled mb-0">
                    <li class="list-inline-item mb-0">
                        <a href="javascript:void(0)" [hidden]="adminMode">
                            <div class="btn btn-icon btn-warning"><i class="ti ti-bell"></i></div>
                        </a>
                    </li>

                    <li class="list-inline-item mb-0">
                        <a href="javascript:void(0)" [hidden]="!adminMode" (click)="adminMode = false">
                            <div class="btn btn-icon btn-danger"><i class="ti ti-logout"></i> </div>
                        </a>
                    </li>


                </ul>
            </div>

            <div class="floatingTop mt-2" [hidden]="adminMode">
                <div class="container-fluid">
                    <div class="row g-1">
                        <div class="col-12 ">

                            <div class="border p-2 bg-white">

                                <div>

                                    <code>  {{noteScanner}} {{item.name}}, {{item.barcode}}, Rp {{item.price | number}}</code>

                                </div>

                                <div class="my-1">
                                    <input type="text" class="form-control" id="scan" (change)="scanner();" [(ngModel)]="barcode" pattern="[0-9]" placeholder="Input Barcode here">
                                </div>
                                <!-- <a href="javascript:;" (click)="fnPromotionFreeItem();">Check Free Item(TEST ONLY)</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container-fluid">

            <div class="row g-1 mb-3">

                <div class="col-12">
                    <div class="overflow-auto " style="height: 80vh">
                        <div [hidden]="adminMode" style="margin-top: 100px">
                            <div class="card shadow-sm p-1 mb-1">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Qty</th>
                                            <th>Desciption</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of items">
                                            <td>{{x.qty}}</td>
                                            <td>{{x.description}}
                                                <div class="small" style="line-height: 90%;"><code>{{x |json}}</code></div>
                                            </td>
                                            <td>{{x.price | number}} </td>
                                            <td>{{x.totalPrice | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div [hidden]="!adminMode" class="bg-white">
                            <div class="table-responsive bg-white shadow-sm rounded">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Desciption</th>
                                            <th>Price</th>
                                            <th>Discount</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let x of itemsList ; let i = index">
                                            <td> {{i+1}} </td>
                                            <td> {{x.description}} </td>
                                            <td>
                                                <input type="number" [readonly]="!adminMode" [(ngModel)]="x.price" class="form-control form-control-sm" (change)="fnUpdate(x)">
                                            </td>
                                            <td>
                                                <input type="number" [readonly]="!adminMode" [(ngModel)]="x.discount" class="form-control form-control-sm" (change)="fnUpdate(x)">
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-danger" (click)="fnVoid(x);">DEL</a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>

<div class="fixFooter">
    <div class="container-fluid">
        <div class="row g-1 mb-2" [hidden]="adminMode">

            <div class="col-6">
                <button type="button" (click)="modal(modalCancel);" class="btn btn-danger btn-block">Cancel</button>
            </div>
            <div class="col-6">
                <button type="button" (click)="modal(modalPayment);" [disabled]="items.length<1" class="btn btn-primary btn-block">Payment</button>
            </div>
        </div>
    </div>

</div>


<ng-template #modalCancel let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cancel Transaction</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h1 class="text-center m-5">Canccel Transaction</h1>

        <div class="text-center m-5">
            <button type="submit" class="btn btn-danger btn-lg" (click)="fnLogoutVisitor();">Cancel</button>
        </div>
    </div>

</ng-template>


<ng-template #modalPayment let-modal>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="overflow-auto px-1 text-center">
            <p>
                <strong>Are you sure finish transaction?</strong>
            </p>
        </div>

        <div class="row g-1">
            <div class="col-6">
                <button class="btn btn-block btn-warning" (click)="modal.dismiss('Cross click')">Back</button>
            </div>
            <div class="col-6">
                <button (click)="fnCloseCart();" class="btn btn-primary btn-block" (click)="modal.dismiss('Cross click')">Yes</button>
            </div>
        </div>
    </div>

</ng-template>