.box-qty{
    border: 1px solid #eee;
    min-width: 30px;
    padding: 5px 20px;
    text-align: center; 
    display: inline-block;
}

.inputScan{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 30px;
}