<div class="sticky-top pt-2  bg-white ">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Bill : {{uuidKios}}</p>
            </div>
            <div class="col text-center">
                <p>Store Outles ID : {{storeOutlesId}}</p>
            </div>
            <div class="col text-end">
                <p>Terminal ID : {{terminalId}}</p>
            </div>

        </div>
    </div>

    <div class="container py-4 ">

        <div class="row g-1 mb-4" [hidden]="adminMode">


            <div class="col-8">


                <h1>Hi, {{member['firstName']}} {{member['lastName']}} </h1>


            </div>

            <div class="col-4 text-end">
                <a href="javascript:void(0)" (click)="modal(modalCancel);" class="btn bg-danger p-1 border rounded mx-1">
                    <img src="./assets/imgs/icons8-close-64.png" width="90">
                </a>
                <a href="javascript:void(0)" (click)="help();" class="btn bg-warning p-1 border rounded mx-1">
                    <img src="./assets/imgs/icons8-bell-64.png" width="90">
                </a>

            </div>
        </div>

        <div [hidden]="!adminMode">


            <div class="row mt-3">
                <div class="col-6">
                    <a href="javascript:void(0)" (click)="adminMode = false;  noteScanner =''; addItem=false; resultbox =false;" class="btn">
                        <img src="./assets/imgs/icons8-go-back-64.png" width="90">
                    </a>
                </div>

                <div class="col-6 text-end">
                    <a href="javascript:void(0)" class="btn btn-warning" (click)="httpGet()">
                        Reload
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mt-5 text-center">
                    <h1 class="py-2">SUPERVISOR MODE</h1>
                    <h2>Supervisor : {{supervisor.name}}</h2>
                </div>
            </div>
        </div>



        <div class="row" [hidden]="adminMode">
            <div class="col-12 d-grid">
                <div class="text-center">
                    <!-- BARCODE SCAN HERE -->
                    <h1><img src="./assets/imgs/icons8-fast-shopping-64.png" class="mx-1" width="40"> SCAN ITEM</h1>
                    <input type="text" class="form-control form-control-lg bg-light my-4 inputScan" #formRow id="scan" (change)="scanner();" [(ngModel)]="barcode" pattern="[0-9]" placeholder="Scan Barcode" autofocus>

                </div>
            </div>

            <div class="col-12 " [hidden]="!resultbox">

                <div class="rounded border shadow-sm  p-4  bg-light mb-3">


                    <div class="row" [hidden]="!addItem">
                        <div class="col-3" [hidden]="error == true">
                            <img [src]="item.images ? item.images : 'https://dummyimage.com/400x400/ebebeb/07a6b8.png&text=No+Images'" class="shadow-sm rounded" width="100%">
                        </div>
                        <div class="col-9" [hidden]="error == true">

                            <h1 class="mb-2">{{item.barcode}}</h1>
                            <h1 class="display-5">{{item.name}}</h1>
                            <h1 class="display-6">
                                Rp {{item.price | number}}
                            </h1>

                        </div>
                    </div>

                    <div class="row" [hidden]="error != true">
                        <div class="col-12 text-center">
                            <h1 class="py-5">{{noteScanner}}</h1>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="row  my-2">
            <div class="col-8">
                <h2 class="">Scanned Items</h2>
            </div>
            <div class="col-4 text-end">
                <h2 class=" me-2">{{items.length + freeItem.length}} Items</h2>
            </div>
        </div>


    </div>
</div>



<div class="container mb-6">
    <!-- VISITOR -->
    <div class="row" [hidden]="adminMode">
        <div class="col-12 ">

            <div class=" rounded border shadow-sm p-4 bg-light mb-3" *ngFor="let x of items">
                <div class="row  ">
                    <div class="col-2">
                        <img [src]="x.images ? x.images : 'https://dummyimage.com/400x400/ebebeb/07a6b8.png&text=No+Images'" class="shadow-sm rounded" width="100%">
                    </div>
                    <div class="col-6 col-lg-6">
                        <h2>{{x.description}}</h2>
                        <h2>
                            <span class="box-qty bg-white mx-3 border">{{x.qty}}</span> Rp {{x.price | number}}
                        </h2>
                    </div>
                    <div class="col-4 col-lg-4 text-end ">
                        <div class="me-2">
                            <h1>Rp {{x.totalPrice | number}}</h1>
                        </div>

                    </div>
                </div>
            </div>

            <div class=" rounded border shadow-sm p-4 bg-light mb-3" *ngFor="let x of freeItem">
                <div class="row g-3">
                    <div class="col-2">
                        <img src="https://dummyimage.com/400x400/ebebeb/07a6b8.png&text=Sample+Images" class="shadow-sm rounded" width="100%">
                    </div>
                    <div class="col-6 col-lg-7">
                        <h2>{{x.description}}</h2>
                        <h2>
                            <span class="box-qty bg-light">{{x.qty}}</span> Free Item
                        </h2>

                    </div>
                    <div class="col-4 col-lg-3 text-end  ">
                        <div class="  me-2">
                            <h1>Rp 0</h1>
                        </div>

                    </div>
                </div>
            </div>

            <div class="text-center mb-4">
                <h4>No more items</h4>
            </div>
        </div>
    </div>

    <!-- ADMIN MODE -->
    <div class="row g-1 mb-3">
        <div class="col-12">

            <div [hidden]="!adminMode" class="bg-light border shadow-sm rounded">
                <div class="table-responsive ">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Desciption</th>
                                <th class="text-end">Price</th>
                                <th class="text-end">Discount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let x of itemsList ; let i = index">
                                <td> {{i+1}} </td>
                                <td> {{x.description}} </td>
                                <td>
                                    <input type="number" [readonly]="!adminMode" [(ngModel)]="x.price" class="form-control form-control-sm text-end" (change)="fnUpdate(x)">
                                </td>
                                <td>
                                    <input type="number" [readonly]="!adminMode" [(ngModel)]="x.discount" class="form-control form-control-sm text-end" (change)="fnUpdate(x)">
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" (click)="fnVoid(x);">DEL</a>
                                </td>

                            </tr>

                            <tr *ngFor="let x of itemsListfreeItem ; let i = index">
                                <td> {{itemsList.length +i +1}} </td>
                                <td> {{x.description}} </td>
                                <td>
                                    <div class="form-control form-control-sm text-end  bg-light">Free Item</div>
                                </td>
                                <td>
                                    <div class="form-control form-control-sm text-end bg-light">0</div>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" (click)="fnVoidFreeItem(x);">DEL</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="fixFooter" [hidden]="adminMode">
    <div class="footerweb bg-gray rounded-top-c1 py-4 shadow-sm">
        <div class="container-fluid">
            <div class="row" [hidden]="adminMode">
                <div class="col-6 text-white">
                    <div class="mx-3">
                        <h1>Gross Total</h1>
                        <h1 class="display-2">Rp {{summary.total | number}}</h1>
                    </div>
                </div>
                <div class="col-6 ">
                    <div class="mx-3 d-grid">
                        <button type="button" (click)="fnCloseCart();" [disabled]="items.length<1" class="btn btn-info font-btn text-white py-5 rounded">CHECKOUT</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalCancel let-modal>
    <div class="modal-header">

        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <h1 class="text-center m-5">Do You Want Cancel Transaction ? </h1>

        <div class="text-center m-5 d-grid">
            <button type="submit" class="btn btn-danger btn-lg rounded font-btn" (click)="fnLogoutVisitor();">Yes</button>
        </div>
    </div>

</ng-template>