@font-face {
    font-family: Manrope-Bold;
    src: url('./static/Manrope-Bold.ttf');
  }

@font-face {
    font-family: Manrope-Medium;
    src: url('./static/Manrope-Medium.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('./roboto/Roboto-Bold.ttf');
}