<div class="printdisable">

    <app-header></app-header>
    <div class="container" style="margin-top: 30%">
        <div class="row">
            <div class="col-12 text-center">
                <img src="./assets/galleries/g02.png" width="50%">
            </div>

            <div class="col-12 text-center ">
                <h1 class="display-4" [innerHTML]="kioskMessage['thanks']"></h1>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row ">
            <div class="col-12 text-center">
                <h1 class="my-5 display-5">Cetak Ulang Bill ?</h1>
            </div>

            <div class="col-6 d-grid">
                <button type="button" (click)="home()" class="btn btn-lg py-5 btn-warning font-btn rounded">Tidak</button>
            </div>
            <div class="col-6  d-grid">
                <button type="button" (click)="printBill()" class="btn btn-lg py-5 btn-info font-btn rounded">Iya</button>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                <div class="text-center mt-4">
                    <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <h1>{{warning}}</h1>
                    <h1>{{countdown}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="printable">
    <app-print-detail></app-print-detail>
</div>