<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="./assets/imgs/chandra.jpg" height="50">
        </div>
        <div class="col-6 ">
            <div class="py-3 text-end">
                <a [routerLink]="[ '/bill']" class="btn btn-sm btn-secondary mx-2">BACK</a>
                <a href="javascript:;" class="btn btn-sm btn-warning"> <i class="ti ti-bell"></i> NEED HELP</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                 <p>Total Payment</p>
                 <H3>Rp {{final | number}}</H3>
            </div>
        </div>

    </div>

    <div class="row g-1 mt-4">

        <div class="col-12 text-center my-3">
            <strong>PLEASE CHOOSE PAYMENT METHODS :</strong>
        </div>
        <div class="col-4" *ngFor="let x of storeOutlesPaymentType">
            <div class="p-1">
                <a href="javascript:;" (click)="payment(x,content);" class="btn btn-info btn-block">{{x.name}}</a>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">

    <div class="modal-body">
        <div class="text-center my-5">


            <ng-container [ngSwitch]="paymentStatus">
                <ng-container *ngSwitchCase="1"> 
                    <div class="py-1"> 
                        <h4>Payment Process</h4>
                        <img src="./assets/gif/image_processing20190812-2176-vehbsi.gif" width="100%"> 
                    </div>

                    <div class="row g-1">
                        <div class="col-6 text-center">
                            <a (click)="d('Cross click')" class="btn btn-block btn-warning">
                                 Cancel
                            </a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="javascript:;" class="btn btn-block btn-blue" (click)="fnProcessPaymentFake();">Fake payment process</a>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngSwitchCase="2">
                    <h4>Payment Success</h4>
                    <div class="my-4">{{t1_thank_you_display}}</div>
                    <button type="button" (click)="finishShopping();" class="btn btn-lg btn-success">Close</button>
                </ng-container>

                <ng-container *ngSwitchCase="3">
                    <h4>Payment Fail</h4>
                    <div></div>
                </ng-container>

                <ng-container *ngSwitchDefault>...</ng-container>
            </ng-container>
        </div>

    </div>

</ng-template>