<?xml version='1.0' encoding='utf-8'?>
<widget id="com.thinktank.selfCheckOut" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Self Check Out</name>
    <description>App Self Check Out</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <access origin="*" /> 
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Scheme" value="https" />
    <preference name="Scheme" value="http" />
    <preference name="usesCleartextTraffic" value="true" /> 
    <platform name="android">
        <allow-intent href="market:*" /> 
        <icon density="xhdpi" height="96" src="res/icon/android/icon-96-xhdpi.png" width="96" /> 
    </platform>
</widget>
