<app-header></app-header>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="text-center py-5">
                <img src="./assets/gif/icons8-pos-terminal.gif" width="40%">
            </div>
          
        </div>
        <div class="col-12">
            <div class="d-grid mx-4"> 
                <button type="button" (click)="fnBcaCash();" class="btn btn-lg font-btn btn-success py-3">PAYMENT NOW DEV MODE</button>
            </div>
        </div>
    </div>
</div>